@import "tailwindcss";

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: #1e1b4b;
}

.pb-image {
    width: 100%;
    height: 300px;
    /* cohérent avec la valeur par défaut */
    object-fit: cover;
    /* recadrage propre */
    display: block;
}