<nav class="bg-indigo-950 px-5 py-12">
    <ul class="flex gap-6 text-white font-semibold">
        <li>
            <a href="/" class="transition-opacity hover:opacity-70">
                Accueil
            </a>
        </li>
        <li>
            <a href="/offres" class="transition-opacity hover:opacity-70">
                Offres
            </a>
        </li>
    </ul>
</nav>
